.x {
  position: relative;
}
.x::after {
  position: absolute;
  width: 100%;
  transform-origin: left;

  left: 0;
  bottom: -0.4rem;

  content: "";
  border-bottom: 0.1rem solid var(--secondary-color);

  transform: scaleX(0);
  border-radius: 1rem;
  transform-origin: right;
  transition: transform 0.3s ease;
}
.x:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
