/* @import url(./variable.css);
@import url(./mediaQ.css);
@import url(./animation.css); */

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: inherit;
  font-weight: 400;
}

* button,
* a:link,
* a:visited {
  color: var(--secondary-color);
  cursor: pointer;
  text-decoration: none;
  text-transform: capitalize;
}

/* .btn {
  padding: 0.8rem 1.7rem;
  background-color: transparent;
  outline: none;
  border-radius: 0.7rem;
  font-weight: 100;
  border: 0.1rem var(--secondary-color) solid;
  text-transform: uppercase;
} */

.btn {
  position: relative;
  padding: 1rem 1.7rem;
  font-size: 1rem;
  background-color: transparent;
  outline: none;
  font-weight: 100;
  border: 0.1rem var(--secondary-color) solid;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
  }
  &:active {
    background-color: var(--primary-color);
    color: var(--secondary-color);
  }
}

.btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  translate: 0% 0%;
  border: 0.1rem solid var(--secondary-color);
  opacity: 1;
  transition:
    transform 0.1s ease,
    opacity 0.3s ease;
}

.btn:hover::after {
  opacity: 0;
  transform: scale(1.6);
}

::selection {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-family: var(--main-font);

  letter-spacing: 0.1rem;
}

.main {
  display: flex;
  flex-direction: column;

  * {
    padding: 4.8rem;
    height: 100vh;
    font-size: 2rem;
  }
}
.fetured-section {
  background-color: grey;
}
.videoShow-section {
  background-color: slategray;
}
.services-section {
  background-color: grey;
}
.details-section {
  background-color: slategray;
}
.footer-section {
  background-color: grey;
}

/* 
--- 01 TYPOGRAPHY SYSTEM 

 -FONTSIZE SYSTEM (px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98


--- 02 SPACING SYSTEM (px):
/ 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/
