@font-face {
  font-family: "Saol Display";
  src: url("../fonts/SaolDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Alta";
  src: url("../fonts/alta-regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --primary-color: #000;
  --secondary-color: #fff;
  --primary-color-light: #000000b2;
  --secondary-color-light: #ffffffb2;

  --main-font: "Georama", sans-serif;
  --car-image: url("../media/img/img-1.png");
  --special-font-saol: "Saol Display", sans-serif;
  --special-font-alta: "Alta", sans-serif;
}

[data-theme="light"] {
  --primary-color: #fff;
  --secondary-color: #000;
  --primary-color-light: #ffffffb2;
  --secondary-color-light: #000000b2;
  --car-image: url("../media/img/img-1-inverse.png");
}
